#Menu{
}
#deals{
   
}
.faqs{
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer{
    height: 40px;
}
footer p,footer a{
    line-height: 40px;
}
#n4v{
    z-index: 999;
}
.alertc{
    background-color: #fff3cd;
}
#ftr{
    background-color: lightblue;
}
.box{
    min-height: 250px;

}
.shd{
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
        animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {box-shadow: 10px 0px 0px 0px gray,-10px 0px 0px 0px gray;}
}
@media screen and (max-width:768px){
    @keyframes mymove {
        50% {box-shadow: 0px 10px 0px #888, 0px -10px 0px #888;}
    
}
}